<p id="notice"><%= notice %></p>

<p>
  <strong>Student name:</strong>
  <%= @reflection.student_name %>
</p>

<p>
  <strong>Block:</strong>
  <%= @reflection.block %>
</p>

<p>
  <strong>Teacher name:</strong>
  <%= @reflection.teacher_name %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @reflection.project_name %>
</p>

<p>
  <strong>Project type:</strong>
  <%= @reflection.project_type %>
</p>

<p>
  <strong>Conduct:</strong>
  <%= @reflection.conduct %>
</p>

<p>
  <strong>Leadership:</strong>
  <%= @reflection.leadership %>
</p>

<p>
  <strong>Work:</strong>
  <%= @reflection.work %>
</p>

<p>
  <strong>Creativity:</strong>
  <%= @reflection.creativity %>
</p>

<p>
  <strong>Collaboration:</strong>
  <%= @reflection.collaboration %>
</p>

<p>
  <strong>Thinking:</strong>
  <%= @reflection.thinking %>
</p>

<p>
  <strong>Communication:</strong>
  <%= @reflection.communication %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @reflection.comments %>
</p>

<p>
  <strong>User:</strong>
  <%= @reflection.user_id %>
</p>

<%= link_to 'Edit', edit_reflection_path(@reflection) %> |
<%= link_to 'Back', reflections_path %>
